.Realisations{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 0.8rem;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.parcoursItem, .projectItem {
  margin-top: 10px;
  margin-bottom: 10px;
}


.parcoursItem > .title , .projectItem > .projectName{ 
  font-weight: bold;
}





.projectTechnologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px
}

.projectTechnologies > .technoItem {
  margin: 0;
  padding: 8px;
  display:grid;
  grid-template-columns: 1fr;
  background-color: rgb(226, 225, 225);
  border-radius: 5px;
  min-width: 50px;
  min-height: 45px;
}

.technoItem > p {
  text-align: center;
  font-size: 0.7rem;
}

.technoItem > .logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 40px;
  max-height: 25px;
}