.View_Timeline{
  display: grid;
  grid-template-columns: 4fr 90px 4fr;
  padding: 80px;
}

.View_Timeline > section {
  display: grid;
  grid-template-rows: repeat(109, 1fr);
}

.TimelineWork > div {
  background-color: lightsalmon;
}

.TimelineStudy > div {
  background-color: lightblue;
}

.TimelineStudy > div , .TimelineWork > div {
  font-size: 12px;
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
}