.TimelineItem{
  padding: 5%;
  background-color: #FEFAF6;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  gap: 5px;
}
.TimelineItem > * {
  margin: 0px;
  padding: 0px;
}

.TimelineItem > .topDateAndType {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 5px;
}

.TimelineItem > .topDateAndType > * {
  padding: 0;
  margin:0;
  font-size: 0.7rem;
  display: inline-block;
}

.dateStart {
  text-align: left;
}

.dateEnd {
  text-align: right;
}

.TimelineItem > .areaicon  {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.type  {
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #102C57;
}


.TimelineItem > .title  {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: #102C57;
}

.TimelineItem > .city , .TimelineItem > .institution {
  padding: 0;
  margin:0;
  font-size: 0.7rem;
  text-align: center;
  display: inline-block;
}


.TimelineItem > .readMore  {
  line-height: 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #102C57;
  border-top: 1px solid #102C57;
  margin-top: 10px;
}

