.Header {
  background-color: black;
  padding-right: 40px;
  padding-left: 40px;
}

.InnerHeader{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

.MainHeader{
  display: grid;
  grid-template-columns: auto 50px;
}

.Header > .InnerHeader > .MainHeader > span {
  font-size: 1.5rem;
  color:whitesmoke;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
}

.Header > .InnerHeader > .MainHeader >.icon {
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  cursor: pointer;
}

.Header > .InnerHeader > .MenuLinks > a {
  color: whitesmoke;
  margin-left: auto;
  cursor: pointer;
  padding: 10px;
  text-align: right;
  display: block;
  width: 30%;
  font-weight: bold;
  text-transform: uppercase;
}

.Header > .InnerHeader > .MenuLinks > a:hover {
  background-color: whitesmoke;
  color: black;
}