.HeaderButton {
  display: flex;
  align-items: center;
  padding: 10px;
}

.HeaderButton:hover{
  cursor: pointer;
  background-color: #dfdace;
}

.HeaderButton > img {
  margin-right: 10px;
  height: 30px;
  margin-left: auto;
}

.HeaderButton > span {
  font-size: 18px;
  height: min-content;
  width: fit-content;
  margin-right: auto;
}