.HeaderButton {
  display: flex;
  align-items: center;
  padding: 10px;
}

.HeaderButton:hover{
  cursor: pointer;
  background-color: #FAF7F0;
}

.HeaderButton > img {
  margin-right: 10px;
  height: 30px;
}

.HeaderButton > span {
  font-size: 18px;
  height: min-content;
  font-weight: bold;
}