* {
  margin: 0;
  padding: 0;
}

.PageBody {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  .PageBody {
    width: 1000px;
  }
} 

@media screen and (max-width: 1000px) {
  .PageBody {
    width: 600px;
  }
} 

@media screen and (max-width: 600px) {
  .PageBody {
    width: 350px;
  }
} 

